/*public*/
body{background: #f6f6f6;}
.commonWidth{width: 1000px;margin-left: auto;margin-right: auto;margin-bottom: 20px;}
.mb20{margin-bottom: 20px;}
.mb10{margin-bottom: 10px;}
.mr0{margin-right: 0;}
.br{border-right: 1px solid #ccc;}
.boxLeftArea{width: 640px;margin-left: 30px;}
.boxRightArea{width: 300px;}
/*nav*/
.nav{margin-top: 20px;}
.nav .logo{margin-right: 20px;}
.nav .logo h2{height: 40px;line-height: 40px;}
.nav nav ul li{float:left;/*background-color: #57D2F7;*/}
.nav nav ul li a{width: 100px;height: 40px;line-height: 40px;display: inline-block;text-align: center;font-size: 14px;font-weight: bold;/*color: #FFF;*/letter-spacing: 5px;}
.nav nav ul li:hover, .nav nav ul li.active{/*background-color: #35AFD5;*/border-bottom: 2px solid #57D2F7;}
/*search*/
.searchBox{background-color: #D3E5F9;}
.searchBox .box{padding: 10px 0;width: 566px;margin: 0 auto;}
.searchBox .inputBox input{width: 475px;height: 30px;line-height: 30px;padding-left: 10px;border: #b7b7b7 solid 1px;border-right: none 0;}
.searchBox .inputBox button{height: 32px;border:0;background-color:#57D2F7;cursor: pointer;width: 80px;font-weight: bold;color:#FFF;}
.searchBox .inputBox button:hover{background-color: #35AFD5;}
.searchBox .hotWords{color: #888;margin-top: 10px;}
.searchBox .hotWords a:hover{color:#f87412;}
/*itemList*/
.itemListNav{height: 38px;line-height: 38px;}
.navTitle{border-left: 6px solid #35AFD5;font-size: 16px;padding-left: 15px;}
.itemList .item{width: 320px;height: 410px;margin-left: 13px;background-color: #FFF;float: left;}
.itemList .item:hover{box-shadow: #ccc 1px 1px 5px;}
.itemList .item h3{font-size: 18px;line-height: 28px;padding: 15px 25px 0 25px;height: 65px;overflow: hidden;}
.itemList .item p{font-size: 14px;padding: 0 25px;margin-bottom: 10px;line-height: 22px;height: 66px;color: #998;overflow: hidden;}
.itemList .item p a{color:#35AFD5;}
/*itemInfoBox*/
.itemInfoBox{background-color: #FFF;/*border-radius: 6px;*/}
.infoNav{border-bottom: 1px solid #ccc;padding-left: 20px;height: 30px; line-height: 30px;}
.infoNav a{color:#35AFD5;font-size: 14px;}
.boxLeftArea .itemInfo .line{margin-bottom: 20px;}
.boxLeftArea .itemInfo .line h2{font-size: 30px;line-height: 40px;font-weight: bold;max-width: 600;overflow: hidden;padding: 10px 0;}
.boxLeftArea .itemInfo .line .summary p{line-height: 25px;font-size: 14px;}
.boxLeftArea .itemInfo .line .tinyTitle{height: 30px;line-height: 30px;background-color: #f2f7fc;border-left: 2px solid #35AFD5;padding-left: 5px;display: inline-block;padding-right: 5px;font-size: 16px;width: 100%}
.boxLeftArea .itemInfo .line ul.aList li{float: left;margin-right: 20px;padding: 5px 0;}
.boxLeftArea .itemInfo .line ul.aList li a{color: #0268CD;height: 20px;line-height: 20px;font-size: 14px;}
.boxRightArea .line{border:1px solid #E5E5E5;background-color: #FCFCFC;margin: 20px 0;}
.boxRightArea .line .imgBox{width: 220px;margin:0 auto;}
.boxRightArea .line h3{padding: 12px 0 2px 10px;height: 16px;line-height: 16px;font-size: 14px;}
.boxRightArea .line ul.textList{padding: 8px 10px;}
.boxRightArea .line ul.textList li {height: 22px;line-height: 22px;font-size: 14px;color: #666;}


/*footer*/
.footer{text-align: center;background-color: #FFF;padding: 10px;}